@model Category

@{
    ViewData["Title"] = "Nova Kategorija";
}

<partial name="_BackButton" />

<!-- Big Card -->
<div class="card shadow border-0 mt-4">

    <!-- Header -->
    <div class="card-header bg-dark bg-gradient py-2 mb-3">
        <div class="col-12 text-center text-white">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>

    <!-- Content -->
    <div class="card-body p-4">

        <form asp-action="Create" method="post">

            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating col-12 mb-4">
                <input asp-for="Name" class="form-control shadow border-0" placeholder="Name" id="zaAutoFocus" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- Bottom Buttons -->
            <div class="row mt-5">
                <div class="col-6 col-lg-3">
                    <button type="submit" class="btn btn-primary container-fluid"><i class="bi bi-plus-circle me-2"></i>Kreiraj</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById('zaAutoFocus').focus();
    </script>
}
