@page
@model RegisterModel
@{
    ViewData["Title"] = "Registracija";
}


<!-- Big Card -->
<div class="card shadow border-0 mt-4 col-11 col-md-9 col-lg-6 mx-auto col-">

    <!-- Header -->
    <div class="card-header bg-dark bg-gradient py-2 mb-3">
        <div class="col-12 text-center text-white">
            <h3>Registracija</h3>
        </div>
    </div>

    <!-- Content -->
    <div class="card-body p-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-4">
                <input asp-for="Input.Username" class="form-control shadow border-0" autocomplete="username" aria-required="true" placeholder="username" />
                <label asp-for="Input.Username">Korisničko ime</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control shadow border-0" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control shadow border-0" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Šifra</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control shadow border-0" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Potvrdi šifru</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-4 mb-3">Registruj se</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}